body{
    /* background-color: rgb(200,180,180); */
    background-color: black;
    color: white;
}
header{
    border-bottom: solid 3px;
    margin-bottom: 30px;
    padding: 0px 15px;
    /* background-color: rgb(90,40,30); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header p {
    /* background-color: peru; */
    font-size: 20px;
}

#wordle {
    font-size: 40px;
    /* background-color: green; */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: black;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

.game{
    height: 95%;
    background-color: rgb(0,40,30);
}

.guess1, .guess2, .guess3, .guess4, .guess5, .guess6 {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.letter {
    font-size: 50px;
    border: 3px solid;
    width: 50px;
    background-size: 50px 1px;
    margin: 3px;
    background-color: rgb(50,20,30);
    color: white;
    text-align: center;
}

