body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: #f5f2eb;
}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #f5f2eb;
    border-bottom: 2px solid #f5f2eb;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.row {
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 10px;
}
.col {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: .5px;
    position: relative;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f2eb;
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keys{
    background-color: #f5f2eb;
    font-size: 15px;
    margin: 1.5px;
    width: 2em;
    height: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-color: black;
    border-radius: 7px;
}

#enter {
    width: 4.5em;
}
#del{
    width: 3em;
}
